
@import "../assets/msegsstyles.scss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap');
*{
    width:device-width;
    margin:0;
  
}
#app {
    font-family: 'Playfair Display';
    /* overflow-x: hidden; */
  }
  a{
      text-decoration: none;
  }

#app::-webkit-scrollbar {
    /* display: none; */
}
.container{
    margin:0 16vw 0px 16vw;
}

/* .navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color:$primarycolor;
} */

.headings{
 
       
        margin: 0 143.5px 16.5px 0;
        /* margin: 0 143.5px 16.5px 0; */

        font-family: 'Playfair Display', serif;        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #0a2458;
}

.contents{

     
        margin: 0.5vh 0.1vw 1vh 0;
        /* margin: 10.5px 12px 10px 0; */

        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #6d6d6d;
 

}
.subheading{
    font-size:18px;
}
#app > ul > div > span > li:nth-child(n) > a{
    text-decoration: none;
    color:white;
}

/* //mobile */
@media screen and (max-width:800px){
    *{
    width:device-width;

        margin: 0;
    }
    .container{
        margin:0 8vw 0 8vw;
    }
    .contents{
        margin:0px;
        
    }

    
}

/* tablets */
/* @media only screen and(min-width:1025px){
    .container{
        margin:0 12vw 0 80vw;
    }
    
} */
/* laptops */
@media only screen and (max-width:1366px) {
    .container{
        
        margin:0 16vw 0 16vw;
    }
    
}

/* large screens */
@media only screen and (min-width:1367px) {
    .container{
        
        margin:0 20vw 0 20vw;
    }
    
}